*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 25px;
    cursor: pointer;
    color: white;
    transition: all .1s ease-out;
}

.btn:active{
    background-color: rgba(255, 255, 255, 0.182);
}

h1{
    color: white;
}

.container{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
}

.container input{
    height: 30px;
    border-radius: 5px;
    padding: 5px;

}

.container_button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
}

.place_result{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.btn_first{
    background-color: #00bc00a8;
}

.btn_second{
    background-color: #ff0000ad;
}

.btn_third{
    background-color: #004b8d;
}

.btn_fourth{
    background-color: #d78215ed;
}

.btn_result{
    background-color: transparent;
    border: 2px solid #0080ff85;
}

